
body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: grid;
    flex-direction: column;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
   
}

.container-fluid {
    background-color: black; /* Fondo negro para el contenedor fluido */
    color: #ffffff; /* Opcional: Para asegurar que el texto sea legible */
}

header {
    background: #333;
    color: #fff;
    padding: 1rem;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin-right: 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    height: calc(100vh - 200px); /* Set a fixed height, adjust as needed */
    overflow: auto;
    padding: 1rem;
    background-color: #eaf0ce;
   
    
}
footer {
    background: #333;
    color: #fff;
    padding: 0.5rem 0; 
    text-align: center;
}


#time {
    background-color: #0d0718;
    color: #ffffff;
    text-shadow: 2px 2px 5px #ffffff;
    padding: 0;
    border-radius: 5px;
    font-size: 1.2em;
    text-align: center;
    margin-top: 0;
}

.custom-alert {
    max-width: 250px;
    padding: 0;
    font-size: 14px;
    margin: 0 auto;
}

.form-check-input:checked {
    background-color: #0d0718; /* Green background when checked */
    border-color: hsl(59, 100%, 50%);    /* Green border when checked */
  }


  .titu {
    font-family: 'Impact', cursive; /* Cambiar la fuente */
    text-align: center; /* Centrar el texto */
    font-size: 2.5em; /* Cambiar el tamaño de la fuente (opcional) */
    color: #333; /* Cambiar el color del texto (opcional) */
  }


  .table-container {
    overflow-x: auto; /* Añade desplazamiento horizontal si es necesario */
    margin: 0; /* Elimina márgenes innecesarios */
    padding: 0; /* Elimina padding innecesario */
}

.table-responsive {
    overflow-x: auto;
}

#menu-table {
    width: 100%; /* Asegúrate de que la tabla ocupe todo el ancho del contenedor */
}