.btn-outline-primary:hover {
  color: #fff;
  background-color: yellow;
  border-color: yellow;
}

.titu {
  font-family: 'Lobster', cursive; /* Cambiar la fuente */
  text-align: center; /* Centrar el texto */
  font-size: 2em; /* Cambiar el tamaño de la fuente (opcional) */
  color: #333; /* Cambiar el color del texto (opcional) */
}