.btn-outline-primary:hover {
  color: #fff;
  background-color: yellow;
  border-color: yellow;
}

.titu {
  font-family: 'Impact', cursive; /* Cambiar la fuente */
  text-align: center; /* Centrar el texto */
  font-size: 4em; /* Cambiar el tamaño de la fuente (opcional) */
  color: #333; /* Cambiar el color del texto (opcional) */
}


.literal {
  font-family: 'Cambria', cursive; /* Cambiar la fuente */
  text-align: center; /* Centrar el texto */
  font-size: 1em; /* Cambiar el tamaño de la fuente (opcional) */
  color: #000000; /* Cambiar el color del texto (opcional) */
}