.block {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
  }
  .block h2 {
    margin-top: 0;
  }
  .buttons {
    margin-top: 20px;
  }
  .button {
    padding: 10px 20px;
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 0;
    display: block;
    width: 100%;
    text-align: left;
    min-height: 80px; /* Ajusta la altura fija aquí */
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .selected {
    background-color: #b4b216 !important;
  }
  .button h3, .button p {
    margin: 0;
  }

  .titu {
    font-family: 'Lobster', cursive; /* Cambiar la fuente */
    text-align: center; /* Centrar el texto */
    font-size: 2em; /* Cambiar el tamaño de la fuente (opcional) */
    color: #333; /* Cambiar el color del texto (opcional) */
  }

  .has-addons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px; /* Ajusta el margen según sea necesario */
}

.has-addons button {
    padding: 5px 10px;
}

.has-addons input {
    width: 50px;
    text-align: center;
    margin: 0 5px;
}

