{% extends 'base.html' %}
{% load static %}

{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'css/programarmenu.css' %}" />

<!-- Carga Bootstrap CSS si estás utilizando sus clases -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">


<div class="container">
  <div class="row">
    {% for fecha, opciones in programacion_ordenada %}
    <div class="col-md-4">
      <div class="block" id="block-{{ fecha|date:"Y-m-d" }}">
        <center>
        <h4>{{ fecha|date:"l" }}</h4>
        <h4>{{ fecha|date:"d-m-Y" }}</h4>
        </center>
        <div class="options">
          {% for opcion in opciones %}
            <button class="button" onclick="selectOption(this)" value="{{ opcion.id }}" data-fecha="{{ fecha|date:"Y-m-d" }}">
              <h3>{{ opcion.titulo }}</h3>
              <p>{{ opcion.descripcion }}</p>
            </button>
          {% endfor %}
        </div>
      </div>
    </div>
  {% endfor %}
  </div>
  <div class="row justify-content-center">
    <div class="col-md-4 d-flex justify-content-center">
      <button type="button" class="btn btn-success btn-lg" onclick="validateSelection()">Enviar</button>
    </div>
    </div>
    <br>
    <center><a href="{% url 'principal' %}"><img src="{% static 'img/volver.png' %}" alt="Editar" title="Editar" width="30" height="30"></a><center>
      <h5>Volver</h5>


</div>
  
  <!-- Scripts de Bootstrap y jQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <!-- Script JavaScript personalizado -->

  <script src="{% static 'js/programarmenu.js' %}"></script>

{% endblock %}