{% extends 'base.html' %}
{% load static %}

{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'css/programarmenu.css' %}" />

<!-- Carga Bootstrap CSS si estás utilizando sus clases -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">


<div class="container">
  <div class="row">
    {% for fecha, opciones in programacion_ordenada %}
      <div class="col-md-4">
        <div class="block">
          <center>
          <h4>{{ fecha|date:"l" }}</h4>
          <h4>{{ fecha|date:"d-m-Y" }}</h4>
          </center>
          <div class="options">
            {% for opcion in opciones %}
              <button class="button" onclick="selectOption(this)">
                <h3>{{ opcion.titulo }}</h3>
                <p>{{ opcion.descripcion }}</p>
              </button>
            {% endfor %}
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
  <div class="row justify-content-center">
    <div class="col-md-4 d-flex justify-content-center">
      <button type="button" class="btn btn-success btn-lg" onclick="validateSelection()">Enviar</button>
    </div>
    </div>

</div>
  
  <!-- Scripts de Bootstrap y jQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <!-- Script JavaScript personalizado -->

  <script src="{% static 'js/programarmenu.js' %}"></script>

{% endblock %}