{% extends 'base.html' %}

{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/principal.css' %}" />

<div class="text-center">
  <h3 class="titu">Bienvenido</h3>
  <br>
</div>    
<div class="container-fluid d-flex justify-content-center align-items-center" style="height: 50vh; max-width: 500px; background-color: white;">
   <div class="text-center mb-3">
      <!-- Botón Programar siguiente semana del usuario -->
      <a href="{% url 'programarmenu' %}">
      <button type="button" class="btn btn-outline-primary mx-2" style="border-color: black;">
        <img src="{% static 'img/programar.png' %}" alt="Programar" style="width: 150px; height: 150px;"><br>
        <span style="color: black;"><strong class="literal">PROGRAMAR MENU</strong></span>
      </button>
    </a>
      <!-- Botón Imprime Ticket -->
      <a href="{% url 'generar_ticket' usuario_id=user.usuarios.id fecha=current_date|date:'Y-m-d' %}">
        <button type="button" class="btn btn-outline-primary mx-2" style="border-color: black;">
            <img src="{% static 'img/comer.png' %}" alt="Comer" style="width: 150px; height: 150px;"><br>
            <span style="color: black;"><strong class="literal">COMER</strong></span>
        </button>
    </a>
    <br><br>

    <!--MENSAJE PARA CUANDO SE GUARDE SE ENVIA POR JS-->
    <center><h4><div id="message" style="color: black;"></div></h4></center>

    <!--MENSAJE CUANDO SE LLAMA A LA FUNCION DEL TICKET-->
    {% if messages %}
    <div>
        {% for message in messages %}
            <div style="color: black;">
                <h4>{{ message }}</h4>
            </div>
        {% endfor %}
    </div>
{% endif %}


<script src="{% static 'js/principal.js' %}"></script>
{% endblock %}
